<%- include('partials/header'); -%>​
​
<header>​

  <div class="flight">​
    <img src="/flight.png" alt="">​
  </div>​

  <div class="headings">​
    <h2>Flight Search</h2>​
    <h3>Eran Gabay - flight project</h3>​
    <a href="/smoothies" class="btn">BUY NEW FLIGHT</a>​
  </div>​

</header>​

<%- include('partials/footer'); -%>​

​