<%- include('partials/header'); -%>​

<ul class="flights">​

  <li class="flight">​
    <img src="/flight.png" alt="flight project icon">​
    <h4>ROME</h4>​
    <p>company: ELAL</p>
    <p>destination: ROME</p>
    <p>origin: TEL AVIV</p>
    <p>departure time: 12/10/22 10:35</p>
    <p>landing time: 12/10/22 13:05</p>
    <p>prise: 245$</p>​
  </li>
  
  <li class="flight">​
    <img src="/flight.png" alt="flight project icon">​
    <h4>TORONTO</h4>​
    <p>company: ELAL</p>
    <p>destination: TORONTO</p>
    <p>origin: TEL AVIV</p>
    <p>departure time: 14/10/22 20:35</p>
    <p>landing time: 15/10/22 03:05</p>
    <p>prise: 475$</p>​
  </li>​

  <li class="flight">​
    <img src="/flight.png" alt="flight project icon">​
    <h4>NEW YORK</h4>​
    <p>company: ALASKA</p>
    <p>destination: NEW YORK</p>
    <p>origin: TEL AVIV</p>
    <p>departure time: 10/10/22 10:00</p>
    <p>landing time: 10/10/22 15:35</p>
    <p>prise: 640$</p>​
  </li>​

  <li class="flight">​
    <img src="/flight.png" alt="flight project icon">​
    <h4>PARIS</h4>​
    <p>company: ELAL</p>
    <p>destination: PARIS</p>
    <p>origin: TEL AVIV</p>
    <p>departure time: 25/10/22 10:00</p>
    <p>landing time:25/10/22 15:45</p>
    <p>prise: 440$</p>​
  </li>​

  <li class="flight">​
    <img src="/flight.png" alt="flight project icon">​
    <h4>MADRID</h4>​
    <p>company: WIZZ</p>
    <p>destination: MADRID</p>
    <p>origin: TEL AVIV</p>
    <p>departure time: 17/10/22 07:00</p>
    <p>landing time: 10/10/22 13:35</p>
    <p>prise: 370$</p>​
  </li>​

  <li class="flight">​
    <img src="/flight.png" alt="flight project icon">​
    <h4>BERLIN</h4>​
    <p>company: ELAL</p>
    <p>destination: BERLIN</p>
    <p>origin: TEL AVIV</p>
    <p>departure time: 03/10/22 16:00</p>
    <p>landing time: 03/10/22 20:15</p>
    <p>prise: 280$</p>​
  </li>​

  <li class="flight">​
    <img src="/flight.png" alt="flight project icon">​
    <h4>AMSTERDAM</h4>​
    <p>company: ELAL</p>
    <p>destination: AMSTERDAM</p>
    <p>origin: TEL AVIV</p>
    <p>departure time: 11/10/22 12:00</p>
    <p>landing time: 10/10/22 15:35</p>
    <p>prise: 520$</p>​
  </li>​

</ul>​
​
<%- include('partials/footer'); -%>​

​